<main class="flex-grow-1 d-flex flex-column container">
    <h1>Add product</h1>
    <form action="/admin/add-product" method="POST" style="max-width: 330px" class="m-auto bg-body-secondary p-5">
        <label for="title" class="mb-3">Name</label>
        <input id="title" type="text" name="title" class="form-control mb-3">
        <button type="submit" class="btn btn-primary w-100">Add product</button>
    </form>
</main>